.scatterGraphContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 0.5rem;
    width: 70%;
    padding: 50px 0px 50px 0px;
  }